.zh-hero{
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
   background-color: var(--heading-color);
   background-size: cover;
}

.zh-hero .zh-hero-top{
   display: flex;
   justify-content: center;
   align-items: center;
}

.zh-hero-img{
   width: 40vw;
   height: 85%;
   
}

.zh-hero img{
   width: 100%;
   height: 90%;
   box-shadow: 65px -20px var(--word-color);
}

.zh-hero .zh-hero-content{
   width: 45%;
   color: #fff;
   margin: 3%;
}

.zh-hero .zh-hero-content h5{
   font-size: 1rem;
   line-height: 50px;
}


.zh-hero .zh-hero-btn{
   background-color: #fff;
   color: var(--paragraph-color);
   padding: .5%;
   margin-bottom: 3%;
   border-radius: 8px;
}

.zh-hero .zh-hero-btn:hover{
   color: #fff;
   background-color: var(--word-color);
}

.zh-hero .zh-quiz-time h1{
   /* color: #fff; */
   animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes example {
   0%   {color: #fff;}
   /* 25%  {color: yellow;} */
   50%  {color: var(--word-color);}
   /* 100% {color: var(--main-color);} */
 }

@media (max-width:750px){
   .zh-hero img{
       display: none;
       width: 0%;
   }

   .zh-hero-img{
       width: 0%;
   }


   .zh-hero .zh-hero-content{
       width: 100%;
   }
}

@media (max-width:600px){
   .zh-hero .zh-hero-content h5{
       line-height: 20px;
   }


   
}